* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #a27bb7;
    .page-container{
        background-color: #a27bb7;
        height: 100vh;
        width: 100%;
        display: flex;
        > #banner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            padding-left: 30px;
        }
        > #posts {
            overflow: scroll;
            width: 70%;
            padding: 30px 20% 30px 30px;
            transition: opacity .3s, transform .3s;
            opacity: 0;
            transform: translateY(50px);
            &.shown {
                opacity: 1;
                transform: translateY(0px);
            }
            > .post {
                background-color: #ffffff;
                padding: 30px 50px;
                border-radius: 8px;
                margin-bottom: 18px;
                font-weight: 100;
                width: 100%;
                overflow-wrap: break-word;
                .music-player {
                    width: 60px;
                    height: 30px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #a27bb7;
                    border-radius: 20px;
                    color: #a27bb7;
                    cursor: pointer;
                    font-size: 12px;
                    font-family: Inter var experimental, Inter var, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Apple Color emoji;
                    justify-content: center;
                    text-decoration: none;
                    .fa.fa-play{
                        margin-right: 4px;
                    }
                    &:hover {
                        border: #562e6b solid 1px;
                        color: #562e6b;
                    }
                }
                > h2 {
                    margin-bottom: 0;
                    font-family: canterbury;
                    font-size: 30px;
                }
                > span.date {
                    font-size: 14px;
                    color: #acacac;
                    font-family: canterbury;
                }
                > .post-content {
                    font-family: Inter var experimental, Inter var, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Apple Color emoji;
                    font-size: .9em;
                    line-height: 1.75;
                    -webkit-font-smoothing: antialiased;
                }
                &.scripture {
                    box-shadow: #f6e27a 1px 1px 12px;
                    transition: box-shadow 1s ease-out;
                    animation: boxShadowAnimation 2s infinite alternate;
                    > span.date {
                        color: #d1bf61;
                    }
                    > .post-content {
                        color: rgb(203, 182, 108);
                        font-weight: 200;
                    }             
                    h2 {
                        background-image: linear-gradient(
                            to right,
                            #462523 0,
                            #cb9b51 22%, 
                            #f6e27a 45%,
                            #f6f2c0 50%,
                            #f6e27a 55%,
                            #cb9b51 78%,
                            #462523 100%
                        );
                        color: transparent;
                        background-clip: text; /* Standard syntax */
                        -webkit-background-clip: text; /* WebKit (Safari/Chrome/Blink) */
                        -moz-background-clip: text; /* Mozilla Firefox */
                        -ms-background-clip: text; /* Internet Explorer */
                    }
                }
            }
        }
    }
}
.separator a {
    margin: unset !important;
}
#posts img {
    max-width: 100%;
}
iframe {
    width: 100%;
}

.loading-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: white;
    font-size: 22px;
    opacity: 0.5;
}

@font-face {
    font-family: canterbury;
    src: url(../assets/fonts/canterbury.regular.ttf);
}

@media (max-width: 1080px) {
    body .page-container {
        flex-direction: column;
        height: 100%;
        > #posts {
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            width: 100%;
            padding: 30px 60px 60px 60px;
            > div {
                width: calc(90% - 100px);
            }
        }
        > #banner {
            padding-top: 30px;
            width: 100%;
            padding-left: unset;
            > svg {
                height: 140px;
                width: 140px;
                > image{
                    height: 140px;
                    width: 140px;
                }
            }
        }
    }  
}
@media (max-width: 820px) {
    body .page-container {
        flex-direction: column;
        height: 100%;
        > #posts {
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            width: 100%;
            padding: 30px 30px 30px 30px;
            > div {
                width: calc(90% - 100px);
            }
        }
        > #banner {
            padding-top: 30px;
            height: 100px;
            width: 100%;
            padding-left: unset;
            > svg {
                height: 100px;
                width: 100px;
                > image{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
@keyframes boxShadowAnimation {
    from {
        box-shadow: #f6e27a 1px 1px 2px;
    }
    to {
        box-shadow: #f6e27a 1px 1px 12px;
    }
  }