#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 0 30px;

    position: sticky;
    top: 0;
    background: #a27bb7;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 1080px) {
    #banner {
        padding-top: 30px;
        width: 100%;
        padding-left: unset;
        padding : 30px;
        > svg {
            height: 140px;
            width: 140px;
            > image{
                height: 140px;
                width: 140px;
            }
        }
    }
}

@media (max-width: 820px) {
    #banner {
        padding-top: 30px;
        height: 100px;
        width: 100%;
        padding-left: unset;
        padding: 30px;
        > svg {
            height: 100px;
            width: 100px;
            > image{
                height: 100%;
                width: 100%;
            }
        }
    }
}